
/* Generic Declarations */

.btn {
	white-space: normal;
}

.well {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%;
}


/* Top Row Divs */

.top-row {
	display: flex;
	flex-direction: row;
	min-height: 15vh;
	max-height: 25vh;
	width: 95%;
	justify-content: space-between;
}

div.user-buttons {
	width: 40%;
	display: flex;
	align-items: center;
}

.user-buttons button {
	margin: 1%;
	background-color: white;
	color: black;
	border: 2px solid black;
	width: 30%;
	height: 7%;
}

div.end-turn {
	display: flex;
	flex: 1;
}

div.emp-render, div.potential-render {
	text-align: center;
	flex: 3;
}

div.user-buttons {
	flex: 5;
	margin: auto;
}

button.end-turn {
	font-size: 2em;
	background-color: pink;
}

/* Scientist Cards  */

div.scientists {
	display: flex;
	flex-direction: row;
	min-height: 25vh;
}

.scientistCard {
	background-color: #e5efff;
	margin: 1%;
}


/* Player Cards  */

div.player-cards {
	display: flex;
	flex-direction: row;
	min-height: 25vh;
	background-color: pink;
	margin: auto;
	margin-top: 1%;
}

.playerCard {
  position: relative;
  display: inline-block;
  background: transparent;
  color: #000;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid black;
}


